In [97]:
from bs4 import BeautifulSoup as bs
import time
import datetime
import smtplib
import requests

In [98]:
# connect to website
url = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?crid=EZU0WUZ84ZQP&keywords=data%2Banalyst%2Btshirt&qid=1707304022&sprefix=data%2Banalyst%2Btshirt%2Caps%2C401&sr=8-3'
# headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36 Edg/121.0.0.0"}

page = requests.get(url)

In [99]:

soup1 = bs(page.content, "html.parser")

soup2 = bs(soup1.prettify(), "html.parser")

title = soup2.find(id="productTitle")
if title:
    title = title.get_text()
    print(f'title = {title}')
else:
    print("Title not found")

title =
                   Funny Got Data MIS Data Systems Business Analyst T-Shirt

In [100]:
# price1 = soup2.find(class_="a-price-fraction").get_text()
    
price = soup2.find(class_="a-price-whole").get_text()

print(price)

                                 19

                                  .

In [101]:
price1.strip()
print(price1)

                                 99

In [102]:
title = title.strip()
price = price.strip()

In [103]:
print(title)
print(price)

Funny Got Data MIS Data Systems Business Analyst T-Shirt
19

                                  .

In [104]:
today = datetime.date.today()
print(today)

2024-02-08

In [105]:
import csv
header = ['Title', 'Price', 'Date']
data = [title, price, today]

with open('amazonwebscrapingdataset.csv', 'w', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [106]:
import pandas as pd
df = pd.read_csv(r"C:\Users\FashN\OneDrive\Desktop\CODES\DATA-ANALYSIS\data_analysis\Pandas\amazonwebscrapingdataset.csv")
df

,Title,Price,Date
0,Funny Got Data MIS Data Systems Business Analy...,19\n \n ...,2024-02-08

In [107]:
# Appending sata
with open('amazonwebscrapingdataset.csv', 'a+', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(data)

In [111]:
def check_price():
    # connect to website
    url = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?crid=EZU0WUZ84ZQP&keywords=data%2Banalyst%2Btshirt&qid=1707304022&sprefix=data%2Banalyst%2Btshirt%2Caps%2C401&sr=8-3'
    # headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36 Edg/121.0.0.0"}

    page = requests.get(url)

    soup1 = bs(page.content, "html.parser")

    soup2 = bs(soup1.prettify(), "html.parser")

    title = soup2.find(id="productTitle")
    if title:
        title = title.get_text()
    else:
        print("Title not found")
        
    price = soup2.find(class_="a-price-whole").get_text()
    title = title.strip()
    price = price.strip()
    
    import datetime
    today = datetime.date.today()
    print(today)
    
    import csv
    header = ['Title', 'Price', 'Date']
    data = [title, price, today]
    with open('amazonwebscrapingdataset.csv', 'a+', newline='', encoding='UTF8') as f:
        writer = csv.writer(f)
        writer.writerow(data)

In [112]:
while(True):
    check_price()
    time.sleep(5)

2024-02-08
2024-02-08
2024-02-08
2024-02-08

KeyboardInterrupt:

In [113]:
import pandas as pd
df = pd.read_csv(r"C:\Users\FashN\OneDrive\Desktop\CODES\DATA-ANALYSIS\data_analysis\Pandas\amazonwebscrapingdataset.csv")
df

,Title,Price,Date
0,Funny Got Data MIS Data Systems Business Analy...,19\n \n ...,2024-02-08
1,Funny Got Data MIS Data Systems Business Analy...,19\n \n ...,2024-02-08
2,Funny Got Data MIS Data Systems Business Analy...,19\n \n ...,2024-02-08
3,Funny Got Data MIS Data Systems Business Analy...,19\n \n ...,2024-02-08
4,Funny Got Data MIS Data Systems Business Analy...,19\n \n ...,2024-02-08
5,Funny Got Data MIS Data Systems Business Analy...,19\n \n ...,2024-02-08

In [114]:
# def send_mail():
#     server = smtplib.SMTP_SSL('smtp.gmail.com', 465)
#     sever.ehlo()
    
#     server.ehlo()
#     sever.login('godwindavies2@gmail.com', 'elmagnifico')
    
#     subject = "The home you want is below $1.5m! Now is your chance to buy!"
#     body = "Godwin, this is the moment you have been waiting for. Now is a chance to buy your dream home"
#     msg = f"Subject: {subject}\n\n{body}"
    
#     sever.sendmail(
#     'godwindavies2@gmail.com',
#     msg
    
#     )